services:
  - type: web
    name: order-admin-sys
    runtime: docker
    dockerfilePath: Dockerfile
    envVars:
      - key: PORT
        generateValue: true
      - key: DATABASE_URL
        sync: false
      - key: DB_USERNAME
        sync: false
      - key: DB_PASSWORD
        sync: false
